@media (max-width: 900px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-post-container .post-container {
        max-width: 45%;
    }
    .proyects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container {
        display: block;
    }
    .proyects-main-container {
        display: flex;
        flex-direction: column;
    }
    .proyects-main-container .proyect-container {
        margin-bottom: 50px;
    }
}

@media (max-width: 600px) {
    .blogs-post-container .post-container {
        max-width: 95%;
    }
    .profile-main-proyects .proyect-container{
        max-width: 95%;
    }
    .header-icons-container {
        padding-left: 40px;
        justify-content: center;
    }
    .home-main-text {
        margin-bottom: 45px;
    }
    .nav-logo-container img{
        justify-content: right;
    }
}
@media (max-width: 1200px) {
    .home-main-text {
        margin-bottom: 45px;
    }
}
@media (max-width: 800px) {
    .home-main-text {
        font-size: 2.5rem;
    }
}
@media (max-width: 800px) {
    footer {
        padding-bottom: 100px;
    }
}